/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Headings */
h1 {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.cover-container {
  max-width: 60em;
}

/*
 * Cover
 */
.cover {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  margin-top: 10px;
  margin-bottom: 10px;
}