body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 180px;
    margin-left: 180px;
}
h1 {
    color: blue;
    text-align: center;
}
.subtitle {
    text-align: center;
    font-size: 1.5em;
}
p {
    color: black;
}